table,
th,
td {
  width: 500px;
  height: 15px;
  border: 1px solid black;
  border-collapse: collapse;
}
.rgb_swatch {
  background-color: rgb(255, 205, 66);
}
.rgb_swatch2 {
  background-color: rgba(255, 205, 66, 0.9);
}
.rgb_swatch3 {
  background-color: rgba(255, 205, 66, 0.8);
}
.rgb_swatch4 {
  background-color: rgba(255, 205, 66, 0.7);
}
.rgb_swatch5 {
  background-color: rgba(255, 205, 66, 0.6);
}
.rgb_swatch6 {
  background-color: rgba(255, 205, 66, 0.5);
}
.rgb_swatch7 {
  background-color: rgba(255, 205, 66, 0.4);
}
.rgb_swatch8 {
  background-color: rgba(255, 205, 66, 0.3);
}
.rgb_swatch9 {
  background-color: rgba(255, 205, 66, 0.2);
}
.rgb_swatch10 {
  background-color: rgba(255, 205, 66, 0.1);
}
.hsl_swatch {
  background-color: hsl(44, 100%, 62.9%);
}
.hsl_swatch2 {
  background-color: hsla(44, 100%, 62.9%, 0.9);
}
.hsl_swatch3 {
  background-color: hsla(44, 100%, 62.9%, 0.8);
}
.hsl_swatch3 {
  background-color: hsla(44, 100%, 62.9%, 0.8);
}
.hsl_swatch4 {
  background-color: hsla(44, 100%, 62.9%, 0.7);
}
.hsl_swatch5 {
  background-color: hsla(44, 100%, 62.9%, 0.6);
}
.hsl_swatch6 {
  background-color: hsla(44, 100%, 62.9%,0.5);
}
.hsl_swatch7 {
  background-color: hsla(44, 100%, 62.9%,0.4);
}
.hsl_swatch8 {
  background-color: hsla(44, 100%, 62.9%,0.3);
}
.hsl_swatch9 {
  background-color: hsla(44, 100%, 62.9%,0.2);
}
.hsl_swatch10 {
  background-color: hsla(44, 100%, 62.9%,0.1);
}